@import 'variables'
@import 'compass'
@import 'compass/reset'
@import 'susy'
@import 'layout'

@include establish-baseline

*
  margin: 0
  padding: 0

.content
  padding-bottom: 2*$margin

body
  color: $primary_text_color

  h1, h2, h3, h4, h5, button
    font-family: $sans-serif-font-family
    text-align: center
  h1
    font-size: $font_size_xlarge
  h2
    font-size: $font_size_large
  p
    font-family: $serif-font-family

  section#header
    background-color: $primary_color
    color: $text_color

    article
      padding: 6*$margin 10px 3*$margin 10px
      max-width: 940px
      margin: auto

      p
        color: $light_primary_color
        padding: 15px 30px
        text-align: center

      button
        background-color: $accent_color
        border: 0
        color: $text_color
        display: block
        font-size: $font_size_medium
        margin: auto
        margin-top: 2*$margin
        padding: $margin/3 $margin

  section#features
    text-align: center
    @include rhythm(0,3,3,0)
    h2
      @include margin-trailer(2, $font_size_large)

  section#testimonials
    background-color: $testimonials-bg-color
    @include rhythm(0,3,0,0, $base-font-size)

    header
      color: $text_color
      h2
        @include margin-trailer(3, $font-size-large)

    article .container
      background-color: $testimonial-bg-color
      text-align: center
      @include rhythm(0,2,2,2, $base-font-size)

      img
        border: $testimonial-image-border-width solid $testimonial-image-border-color
        @include border-radius(50%)
        height: rhythm($lines: 5, $offset: 2*$testimonial-image-border-width)

      h4
        font-weight: normal
        letter-spacing: 2px
        @include adjust-font-size-to($base-font-size)
        @include rhythm(1,0,0,0, $base-font-size)
        text-transform: uppercase

      h5
        font-style: italic
        @include rhythm(0,0,0,1)

      p
        color: $testimonial-text-color

  section#products
    background-color: $divider_color
    @include rhythm(0,3,3,0)

    h2
      text-align: center
      @include margin-trailer(1, $base-font-size)

    article
      text-align: center
      color: $white

    article .container
      @include rhythm(1,2,2,0, $base-font-size )


    article
      &:nth-of-type(1)
        .container
          background-color: $product-1
      &:nth-of-type(2)
        .container
          background-color: $product-2
      &:nth-of-type(3)
        .container
          background-color: $product-3
      &:nth-of-type(4)
        .container
          background-color: $product-4
      &:nth-of-type(5)
        .container
          background-color: $product-5

@media only screen and (max-width: 768px)
  .content
    padding: 10px
    padding-bottom: 2*$margin

  body
    section#info
      article
        width: 100%

        &.first p
          padding: 0

        &.second p
          padding: 20px 0 0 0

    section#customer
      article
        margin: 10px 0
        width: 100%

        img
          max-width: 60%
          width: 280px
